*{
  font-family: sans-serif;
}



nav {
  position: absolute;
  top: 0;
  right: 20px;
}

nav > ul {
  list-style-type: none;
  padding: 5px;
  display: flex;
}

nav > ul > li {
  margin: 5px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
}

.container {
  width: 700px;
  margin: 60px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.right{
  display: flex;
  justify-content: end;
  margin-top: -32px;

}

.col {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 300px auto;
}

.col > .search-input {
  height: 20px;
  border-radius: 4px;
}

.col > .search-input :hover {
  box-shadow: none;
}

.col > .search-input :focus {
  outline: 1px solid lightblue;
}

h1, h2, h3 {
  font-family: sans-serif;
}

header h1 {
  font-size: 70px;
  padding: 10px;
  margin: 10px;
}
.header{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.search-input {
  width: 85%;
  height: 30px;
  border: 1px solid lightgray;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  border-radius: 20px;
}

.search-input :focus {
  outline: none;
}

.search-input :hover {
  border: 1px solid white;
  -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.26);
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.26);
}

.btn-grey {
  background-color: #F2F2F2;
}

.btn-grey:hover {
  background-color: #DCDCDC;
}

.btn-blue {
  background-color: #4889F0;
  font-weight: bold;
  border: 2px solid #3079ED;
  color: #fff;

}

.btn-blue:hover {
  background-color: #3778F0;
}

input[type=submit] {
  border: none;
  border-radius: 2px;
  padding: 10px;
  margin-top: 20px;
}

input[type=submit]:hover {
  cursor: pointer;
}





.top-title{
  font-weight: 500;
  color: #b7342f;
  margin-left: 2rem;
}
.ad-header{
  margin: 0.6rem;
  display: flex;
  justify-content: space-between;
}
.googleLogo{
  font-weight: 500;
  font-size: 26px;
}
.adsch{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 80%;
}

.inputs, .subtext, .title{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.ranges {
  display: flex;
  align-items: center;
  justify-content: center;
}


.ranges input[type="text"] {
  flex-grow: 1;
}

.inputs input[type=text]{
  margin: 1rem 20px 10px 20px;
}

.top{
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 2.3rem;
}
.topmid{
  padding-bottom: 4rem;
}
.subtext {
  font-size: 12px;
  white-space: nowrap;
}
.subtext p{
  margin-top: 1.1rem;
  padding: 5x 10px 5px 10px;
}







@media screen and (max-width: 600px) {
  .center {
      width: 70%;
  }

  header h1 {
      font-size: 50px;
  }
  .subtext{
    display: none;
  }
}



